<div class="back">
<div class="row" style="display: flex; justify-content: center;align-items: center;">
  <table class="mt-5 table table-bordered table-light table-striped table-hover" style="max-width: 700px">
    <thead>
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Points</th>
        <th>Goals <br> Scored</th>
        <th>Goals <br>Against</th>
        <th>Goals <br>Difference</th>
        <th>Matches <br>Played</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams, let i=index">
        <th>{{i+1}}</th>
        <td>{{team.name}}</td>
        <td>{{team.points}}</td>
        <td>{{team.goalsScored}}</td>
        <td>{{team.goalsAgainst}} </td>
        <td>{{team.goalsDifference}}</td>
        <td>{{team.matchesPlayed}}</td>
      </tr>
    </tbody>
  </table>
  
  <canvas baseChart
            [data]="pieChartData"
            [type]="pieChartType"
            [options]="pieChartOptions" class="mt-5 grafica">
    </canvas>
</div>
</div>
