<div class="cent">
    <h2 class="cent">Ligas</h2>
</div>

<div class="back" style="display: flex; align-items: center;justify-content: center;">
<div class="row">
  <div class="card me-5 mb-5" style="max-width: 500px;" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../../assets/img/Usuarios.png" class="img-fluid rounded-start" >
      </div>
      <div class="col-md-8" >
        <div class="card-body">
          <h5 class="card-title">Usuarios</h5>
          <p class="card-text">En este apartado podra administrar los usuarios que existen</p>
          <p class="card-text"><small class="text-muted">2022, Barcelona</small></p>
          
        </div>
        <a routerLink="/admin/users" class="btn btn-primary">Administrar</a>
      </div>
    </div>
  </div>
  <div class="card me-5" style="max-width: 500px;" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../../assets/img/Liga.png" class="img-fluid rounded-start" >
      </div>
      <div class="col-md-8" >
        <div class="card-body">
          <h5 class="card-title">Ligas</h5>
          <p class="card-text">En este apartado podra administrar las ligas que existen</p>
          <p class="card-text"><small class="text-muted">2022, Barcelona</small></p>
          
        </div>
        <a routerLink="/admin/leaguesAdmin" class="btn btn-primary">Administrar</a>
      </div>
    </div>
  </div>
  </div>
